body {
    background-image: url(https://cdn.discordapp.com/attachments/1295675287853334592/1298919644429553684/DALLE_2024-10-24_10.04.40_-_A_modern_car_dealership_building_with_large_glass_windows_showcasing_a_variety_of_cars_inside._In_front_of_the_dealership_is_a_bold_and_clear_sign_th.webp?ex=671b50af&is=6719ff2f&hm=8617a72b785e635c6b79d2ee46bcf1a57fc8fe5913ba81ca9b0bdb1538c6a194&);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;

  
  }

  .nav-container{
    background-color: black;
    padding: 30px;
    border-radius: 10px;
  }

  .nav-container a{
    color: white;
    text-decoration: none;
    list-style-type: none;
    padding-left: 10px;
  }

  .nav-container a:hover{
    color: goldenrod;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    background-color: #868686;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0;
  }
  
  .contact-info {
    background-color: rgba(254, 254, 254,0.4);
    border-radius: 5px;
    font-size: 5px;
    text-align: center;
    margin-bottom: 30px;
    width: 300px;
  }
  .contact-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .contact-info p {
    font-size: 18px;
    margin: 5px 0;
  }
  .contact-info .office-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form-container {
    background-color: rgb(255, 255, 255,0.6);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  .contact-form-container h2 {
    margin-bottom: 20px;
    color: #333;
  }
  .contact-form-container label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
  }
  .contact-form-container input[type=email],
  .contact-form-container select,
  .contact-form-container textarea {
    width: 100%;
    padding: 1px;
    margin-bottom: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  .contact-form-container textarea {
    resize: vertical;
  }
  .contact-form-container .submit-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  .contact-form-container .submit-btn:hover {
    background-color: #45a049;
  }